/************************************************/
/*** Layout : Header : Start ********************/
/************************************************/

div#search form p { padding: 6px 0 0 0; }

/************************************************/
/*** Layout : Header : End **********************/
/************************************************/



/************************************************/
/*** Navigation Menu : Start ********************/
/************************************************/

div#box-navmenu div.interior ul li a { _height: 1%; }

/************************************************/
/*** Navigation Menu : End **********************/
/************************************************/


/************************************************/
/*** Layout : Body : Start **********************/
/************************************************/

div#content {  }

/************************************************/
/*** Layout : Body : End ************************/
/************************************************/


/************************************************/
/*** Layout : Comments : Start ******************/
/************************************************/

form#commentform p { display: block; line-height: 24px; }
form#commentform p label { line-height: 24px; }

/************************************************/
/*** Layout : Comments : End ********************/
/************************************************/


/************************************************/
/*** Layout : Sidebar : Start *******************/
/************************************************/

div#box-tabs ul.ui-tabs-nav { 
	_display: block; height: 36px; margin: 0 0 -1px 0; padding: 0;
	_position: relative;
	_z-index: 2;
}
div#box-tabs ul.ui-tabs-nav li { 
	 cursor: hand; 
}
div.box div.interior ul li { _height: 1%; }


/************************************************/
/*** Layout : Sidebar : End *********************/
/************************************************/

