/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 12px;
    line-height: 1.6em;
    font-family: "Open Sans",Arial,sans-serif;
    background: #ffffff;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a, a:hover, a:focus, a:visited {
    color: #000;
    outline: none;
    text-decoration: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 14px/24px "Open Sans", Helvetica Neue, Arial;
    color: #666;
}

#page {
    position: 
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.widget_footer ul,
.widget_sidebar ul {
    padding-left: 20px;
}

/* ===================
    ALL: Gray Theme
   =================== */

.header-container {
    background: url(../img/bk_header.png);
}
.subheader-container {

}

header {
    background: #222222;
    height: 70px;
    position: relative;
    z-index: 5;
}

article header {
    background: none;
    height: auto;
    padding: 8px 0;
    border: #CECEBF solid;
    border-width: 1px 0;
    margin-bottom: 3%;
}

.top {
    position: relative;
}

.page-title {
    background: #EEEEEE;
}
.page-title h2 {
    font-size: 22px;
    color: #878787;
    font-weight: lighter;
    text-transform: uppercase;
    width: auto;
    margin: 0;
    display: inline-block;
    margin: 30px 0;
}

.footer-container,
.main .column-two {
    
}

.footer-container,
.main .column-two  {

}

.title {
    color: white;
}

.top-menu-container, nav, .sf-menu {
    float: left;
    }
    .top-menu-container {
        margin-top: 30px;
    }
    nav {
        width: 100%;
    }

#sidebar ul {
    list-style: none;
}

/* ==============
    MOBILE: Menu
   ============== */



.sf-menu ul {
    margin: 0;
    padding: 0;
}


.sf-menu li {
    padding-left: 28px;
}

.sf-menu a {
    display: block;
    padding: 0 0;

    text-decoration: none;
    font-weight: bold !important;
    text-transform: uppercase;

    color: #818181;
    font-size: 12px;
    font-weight: bold;
}

.sf-menu a :hover, .sf-menu li.current_page_item a{
    color: white;
}

.sf-menu a:hover {
    color: white;
}

.sf-sub-indicator {
    position:       absolute;
    display:        block;
    right:          .75em;
    top:            1.05em; /* IE6 only */
    width:          14px;
    height:         14px;
    text-indent:    -999em;
    overflow:       hidden;
    background:     url('../img/sub-indicator.png') no-repeat; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

a > .sf-sub-indicator {  /* give all except IE6 the correct values */
    top:            -0.1em;
    background-position: 0 0; /* use translucent arrow for modern browsers*/
}

.sub-menu {
    background: #222222;
    left: 18px !important;
}
.sub-menu li {
    padding: 11px;
    float: left;
}


/* Navigation on top for smaller screens */

#small-screens-menu {
    background:#000;
    display:none;
    font-size:12px;
    position: relative;
    z-index: 999;
}

#small-screens-menu nav {
    display:none;
    background: #000;
}

#small-screens-menu a {
    text-align: center;
    padding:12px 0;
    border-bottom:1px solid #111;
    display:block;
    text-shadow:none;
    color:#ccc !important;
    text-transform: uppercase;
    text-decoration: none;
}

#small-screens-menu nav ul {
    padding:0;
    margin: 0;
}

#small-screens-menu nav ul li {
    clear: both;
    float: none;
    width: 100%;
    padding: 0;
}

#small-screens-menu nav li:last-child a{
    border-bottom:none;
}
#small-screens-menu nav ul ul a {
    font-size: 90%;
}
#small-screens-menu a:hover
 {
    text-decoration: none;
    color:#fff !important;
    background:#111;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 3em;
}

.main .column-two  {
}

.footer-container footer {
    padding: 30px 0;
    clear: both;
    font-size: 90%;
    margin-top: 20px;
    border-top:1px solid #eee;
}

.footer-container footer a {
    color: inherit;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* * { transition: all 0.3s ease-out; } */

.site-title {
    width: 170px;
    height: 170px;
    background: #00BFFF;
    float: left;
    position: relative;
    text-align: center;
    margin: 0;
}

.site-title a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    display: inline-block;
    line-height: 170px;
    color: #fff;
    text-decoration: none;
}
.site-title a img {
    display: block;
}
.site-description {
    margin: 0;
    position: absolute;
    top: 135px;
    left: 190px;
    color: #D6D6D6;
    font-weight: lighter;

}
.social {
    float: right;
    margin: 24px 0 0 0;
    list-style: none;
}
.social li  {
    padding: 0 0 0 18px;
    float: left;
    font-size: 14px;
    color: #6B6B6B;
}
.social li a {
    float: left;
    width: 20px;
    height: 20px;
    margin-top:2px;
    background: url(../img/social.png) no-repeat;
    text-indent: -999em;
}
.social li a.linkedin {
    background-position: -1px 0;
}
.social li a.dribble {
    background-position: -37px 0;
}
.social li a.pinterest {
    background-position: -75px 0;
}
.social li a.twitter {
    background-position: -115px 0;
}
.social li a.rss {
    background-position: -148px 0;
}



#searchform {
    width: 225px;
    padding: 8px;
    background: #fff;
    border: 1px #CCCCCC solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: right;
    margin: 21px 7px 0 0;
}

#searchform input {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    border: 0;
    text-transform: uppercase;
}

#searchform input#s {
    float: left;
    background: #fff;
    width: 190px;
}

#searchform input#searchsubmit {
    float: right;
    width: 24px;
    background: url(../img/searchsubmit.gif) no-repeat;
}

header .meta {
    color: #79796A;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
header .meta li {
    float: left;
    padding: 0 3%;
    border-right: 1px #CECEBF solid;
}
header .meta li:last-child {
    border-right:0;
}
header .meta li .comments {
    float: left;
    padding-left: 20px;
    background: url(../img/comments.png) no-repeat 0 7px;
}
header .meta li .comments a {
    text-decoration: none;
}
header .meta li .tags {
    padding-left: 20px;
    background: url(../img/tags.png) no-repeat 0 4px;
}
.blog-thumb {
    float: left;
    margin-right: 3%;
}
.blog-entry {
    float: left;
    width: 60%;
}

.categories {
    font-size: 90%;
    color: #79796A;
    font-weight: bold;
    text-transform: uppercase;
}
.categories a {
    color: #79796A;
    text-decoration: none;
}
.post-title {
    color: #00BFFF;
    font-size: 200%;
    font-weight: lighter;
    margin: 3.5% 0;
    line-height: 120%;
}
.post-title a {
    color: #00BFFF;
    text-decoration: none;
}
article {
    margin-bottom: 5%;
}
.more-link {
    color: #000000;
    padding-right: 25px;
    background: url(../img/continue.png) no-repeat right 3px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-footer .widget-title {
    color: #00BFFF;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0;
}

.column-two .widget-title {
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em -30px;
    position: relative;
    padding-left: 30px;
    font-size: 1em;
    background: url(../img/widget_title.png) no-repeat 0 4px;

}

.column-two ul, .sidebar-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.column-two ul {
    margin-bottom: 0;
}
.column-two ul li, .sidebar-footer ul li {
    margin: 4px 0;
}
.column-two ul li a, .sidebar-footer ul li a {
    /*color: #575746;*/
    text-decoration: none;
}

#comment-nav {
    display: none;
}
.avatar {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.commentlist {
    list-style: none;
    padding: 0;
}
.commentlist article header {
    border: 0;
}

.commentlist article header img {
    float: left;
    margin-right: 30px;
}
.commentlist article header a {
    font-style: normal;
    text-decoration: none;
    /*font-size: 85%;*/
}

.commentlist article header cite a {
    font-weight: bold;

}

.commentlist article header cite {
    height: 30px;
    line-height: 30px;
    border-right: 1px #79796A solid;
    margin-right: 25px;
    padding-right: 25px;
}

.commentlist article section {
    color: #575746;
    float: left;
    padding-left: 95px;
    margin-top:-30px;
}
.commentlist article section p {
    margin: 0.3em 0;
}
.comment-reply-link {
    clear: both;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 80ew%;
    text-transform: uppercase;
}

#comments {
    clear: both;
    margin-top:7%;
}
.respond-form {
    clear: both;
    margin-top:3%;
    float: left;
}

#comment-form-title h3, #comments h3 {
    color: #868686;
    font-size: 140%;
    font-weight: lighter;
    text-transform: uppercase;
}

#comment-form-elements {
    list-style: none;
    color: #212121;
    padding: 0;
}

#comment-form-elements li {
    margin: 10px 0;
    float: left;
    clear: both;
}

#comment-form-elements label, #contactForm label {
    width: 170px;
    text-transform: uppercase;
    float: left;
    height: 40px;
    line-height: 40px;
}
#comment-form-elements input, #comment-form-elements textarea, #contactForm input, #contactForm textarea {
    float: left;
    width: 328px;
    border: 1px #CCCCCC solid;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
}
#comment-form-elements textarea, #contactForm textarea {
    height: 130px;
    line-height: 24px;
}
#comment-form-elements input.submitbutton, #contactForm button.submitbutton {
    width: 125px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: #00BFFF;
    border: 0;
    cursor: pointer;
}

.call_to_action {
    width: 100%;
    height: 140px;
    background-image: url(../img/bk_header.png);
    line-height: 140px;
    text-align: center;    
    color: #00BFFF;
    font-size: 200%;
    font-weight: lighter;
}
.call_to_action .wrapper {
    height: 100%;
}

.call_to_action a {
    color: #fff;
    background: #00BFFF;
    padding: 10px 25px;
    text-decoration: none;
    margin: -15px 0 0 30px;
    border-radius: 3px;
}


.radial_gradient {
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* Contact Page */

#contact-map {
    float: left;
    width: 100%; 
    height: 350px; 
    margin: 0 0 15px 0;
}

#contact-map iframe {
    border: 0; 
}

#contact-form {
    width: 60%; 
    float: left;
    margin: 0 30px 0 0;
}

#contact-data {
    float: left; 
    width: 35%;
    margin: 28px 0 0 0;
}

#contact-data p {
    display:block;
    overflow:hidden;
    margin:0 0 15px 0;
}

#contact-data .contact-data-field {
    float: left;
    width: 35%;
    font-weight: bold; 
}

#contact-data .contact-data-info {
    float: left;
    width: 65%;
}


/* contact */
#contactForm  div {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}


.thanks {
background: #F2F3F6;
background: url('../img/ok.png') no-repeat left 1px;
padding-left:20px;
clear: both;
margin-top: 30px;
}

.error {
color: #333;
background: #FCE2D4 url('../img/error.png') no-repeat 5px 50%;
margin-top: 5px;
display:block;
clear: both; 
padding:7px;
padding-left:30px;
border-radius:6px;
font-size:11px;
border: 1px solid #fbc2c4;
width:270px;
}


.filterable {
    float: right;
    list-style: none;
    text-transform: uppercase;
    margin: 0 0 5% 0;
    clear: both;
}

.filterable li {
    float: left; 
    margin: 0 20px 0 0;
}

.filterable li a {
    color: #878787;
    padding: 5px 10px;
    text-decoration: none;
}
.filterable li a:hover {
    color: #fff;
    background: #00BFFF;
}
.filterable li.active a  {
    background: #00BFFF;
    color: #fff;
}

.portfolio-items {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0;
}

.portfolio-items li {
    width: 355px;
    margin: 0 5px;
    text-align: center;
    float: left;
    height: 360px;
}
.portfolio-items li div, .portfolio-items li img {
    width: 100%
}
.portfolio-items li img {
    max-width: 300px !important; 
}
.portfolio-items .portfolio-item-holder {
    height: 250px;
}
.portfolio-items li .description p {
    margin: 1em 0 0;
}
.portfolio-items li .description p a {
    text-decoration: none;
    color: #00BFFF;
    font-size: 120%;
}

.portfolio-items li .description span {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;

}


/* Pagination */
.emm-title {
    display: none;
}
.emm-paginate {
    padding: 45px 0 20px;
}
.emm-paginate a, .emm-paginate span {
    border: 1px solid #CCCCCC;
    background: none;
    border-radius: 4px 4px 4px 4px;
    margin: 0 4px;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    color: #CCCCCC;
    transition: color 0.1s ease-in 0s;
}
.emm-paginate .emm-title {
    border: medium none;
    padding-left: 0;
    background: none;
}
.emm-paginate .emm-current {
    color: #000;
    font-weight: bold;
}
.emm-paginate a:hover {
    border-color: #00BFFF;
    background: #00BFFF;
    color: #fff;
}


/* Widgets */
.widget_sidebar {
    clear: both;
    margin-bottom: 60px;
}
.widget_search label {
    display: none;
}

.widget_search #searchform {
    /*float: none;*/
    margin: 0 7px 0 0;
}

#searchsubmit {text-indent:-9999px;}
* html #searchsubmit {font-size:0;display:block;line-height:0}  /* ie6 */
*+html #searchsubmit {font-size:0;display:block;line-height:0}  /* ie7 */


/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: center; color: #333;  margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 90%; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 90%; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 90%; text-transform: uppercase; padding-top: 10px; }


.tagcloud a {
    font-size: 14px !important;
    background: #00BFFF;
    color:#fff;
    display: inline-block;
    padding:2px 5px;
    margin-bottom: 5px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 767px) {
    .top-menu-container nav {
        display: none;
    }
    #small-screens-menu {
        display:block;
    }

    .site-title {
        width: 130px;
        height: 130px;
    }
    .site-title img {
        width: 130px;
        height: 130px;
    }

    .site-title a {
        line-height: 130px;
    }

    .site-description {
        top: 100px;
    }

    #slider_container {
        height: 490px !important; 
    }

    .slides li img {
        width: 100% !important;
    }
    .flexslider .flex-caption {
        font-size: 140% !important;
    }
    .flex-control-nav {
        right: 0 !important;
        top: 450px !important;
        width: 100% !important;
    }
    .filterable {
        margin-top: 5%;
    }
    .filterable li {
        margin: 0 2px 0 0;
    }
    .filterable li {
        font-size: 80%;
    }
    .column-two .widget_sidebar {
        width: 90%;
        float: right;
    }
    #contact-data {
        width: 100%;
    }
    .commentlist article header {
        text-align: left;
    }
    .commentlist article header cite {
        border-right: 0;
        clear: right;
        display: block;
        text-align: left;
    }
    .commentlist article header time {
        clear: left;
        text-align: left;
        font-size: 80%;
    }
    .commentlist article section {
        margin-top: -15px;
    }
}


@media only screen and (max-width: 479px), screen and (max-device-width: 479px) {


    .site-title {
        float: none !important;
        width: 170px;
        height: 170px;
        margin: 0 auto;
    }
    .site-title img {
        width: 170px;
        height: 170px;
    }
    .site-title a {
        line-height: 170px;
    }

    .site-description {
        text-align: center;
        top: 175px;
        width: 100%;
        left: 0;
    }

    .top-menu-container {
        float: none;
    }

    .main .column-two {
        width: 100%;
        float: right;
        border-top: 2px #CECEBF solid;
        padding: 5% 0 0;
    }


    .call_to_action {
        font-size: 100%;
    }

    /* menu icon */
    #menu-icon {
            color: #FFFFFF;
            width: auto;
            background: #000000;
            padding: 10px 20px;
            cursor: pointer;
            display: block; /* show menu icon */
    }
    #menu-icon:hover {
            background-color: #666666;
    }
    #menu-icon.active {
            background-color: #333333;
    }

    article {
        text-align: center;
    }

    .social {
        float: left;
        margin-bottom: 20px;
        margin-top: 15px !important;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .social li {
        float: none;
        display: inline-block;
    }

    .social li:first-child {
        display: none;
    }

    #slider_container {
        height: 380px !important; 
    }
    .flex-control-nav {
        top: 350px !important;
    }
    .flexslider .flex-caption {
        font-size: 120% !important;
    }
    .page-title {
        margin-bottom: 45px;
    }
    .page-title h2 {
        font-size: 18px;
    }
    .home .page-title h2 {
        font-size: 22px;
    }
    #searchform {
        float: none;
        clear: both;
        margin: -45px auto 0;
        height: 24px; 
        position: relative;
        top: 60px;
    }
    .blog-thumb {
        width: auto;
        margin: 0 auto;
        float: none;
    }

    article .blog-entry, article p {
        width: 100%;
        text-align: left;
    }


    article #comments, article .commentlist, article #respond {
        text-align: left;
    }

    #comment-form-elements input, #comment-form-elements textarea, #contactForm input, #contactForm textarea {
        width: 250px;
    }

    

    .portfolio-items li {
        width: 275px;
        margin: 0 auto;
        float: none;
    }

    .portfolio-items li div {
        width: 100%;
    }

    .portfolio-items li img {
        width: 100%;
    }

    

}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

   
    .top-menu-container {
        
    }

    #menu-icon {
        display: none;
    }

    .social {
        margin-top: 24px;
    }
    .social li:first-child {
        display: none;
    }



    /* ensure #nav is visible on desktop version */
    .sf-menu {
            display: block !important;
    }




/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: block;
        float: left;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }



    
}


@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main .column-two  {

    }
    .header-container header {
        position: relative;
    }

    .wrapper {
        width:95%;
        margin: 0 2.5%;
    }



/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    

/* ============
    WIDE: Main
   ============ */

    .main .column-one {
        float: left;
        width: 63%;
    }

    .main .column-two {
        float: right;
        width: 32%;
    }

    .main .column-wide {
        float: left;
        width: 100%;
    }

    .widget_footer {
        float: left;
        width: 25%;
    }

    .sub-menu {
        padding: 0 0 20px;
    }

    .sf-menu li {
        padding-left: 14px;
    }


    .sf-menu li:hover ul,
    .sf-menu li.sfHover ul {
        left:           0 !important;
        top:            2.5em; /* match top ul list item height */
        z-index:        99;
    }
    .flex-control-nav {
        right: 5% !important;
    }
    .flexslider .slides li img {
        width: 80%;
    }
    .social li:first-child {
        display: none;
    }

    .blog-thumb {
        width: 100px;
        height: 100px;
    }
    .blog-entry {
        width: 75%;
    }

    .portfolio-items li {
        width: 270px;
    }
    .page-template-template-portfolio-php .portfolio-items li {
        width: 300px;
        margin: 0 20px;
    }

    .social {
        padding: 0;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1120px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .main .column-one {
        float: left;
        width: 73%;
    }

    .main .column-two {
        float: right;
        width: 22%;
    }

    .sf-menu li {
        padding-left: 28px;
    }
    .flex-control-nav {
        right: 5% !important;
    }
    .flexslider .slides li img {
        width: auto;
    }
    .social li:first-child {
        display: block;
    }


    .blog-thumb {
        width: auto;
        height: auto;
    }
    .blog-entry {
        width: 75%;
    }
    .portfolio-items li {
        width: 355px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}